body {
  margin: 0;
  font-family: 'Helvetica';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(53, 101, 77);
  color: white;
  font-size: medium;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card-image {
  float: left;
  margin-right: -160px;
}

.hand-display {
  display: block;
  margin-top: 20px;
  height: 330px;
}

.dealer {
}

.message, .game-display {
  background-color: rgb(15, 60, 37);
  padding: 20px;
  margin: 10px 9vw;
  border-radius: 10px;
  width: 80vw;
}

h1 {
  text-align: center;
}

.btn-display {
  display: flex;
} 

button {
  align-self: center;
  margin: 10px;
  padding: 10px;
  background-color: rgb(15, 60, 37);
  color: white;
  font-weight: bold;
  border: white 1px solid;
  font-size: 20px;
  border-radius: 4px;
}